* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/* CAPA */

.capa{
    background: url(./imagens/26267428_360044371128272_4203976846171176960_n.jpg) center no-repeat;
    /* background-color: #eab3ea; */
    background-size: cover;
    height: 90vh;
    text-align: center;
    padding-top: 10rem;
    color:#f70230;
}

.capa_titulo{
    font-size: 3rem;
}

.capa_subtitulo{
    font-size: 2rem;
    margin: 50px;
}

.botao_branco{
    border-radius: 2rem;
    background-color: #f36b6b26;
    font-size: 1rem;
    padding: 1rem 3rem;
    color:#f70230
}

.descricao{
    display: flex;
    width: 90%;
    align-content: center;
    margin: 0 auto;


}

.descricao_esquerda{
    width: 40%;
    margin: 40px;
}

.sobre_mim{
    color: #f70230;
    font-size: 35px;
    line-height: 3rem;
    margin: 30px;

}

.paragrafo1{
    font-size: 24px;
    margin: 30px;
}

.paragrafo2{
    font-size: 18px;
    margin: 30px;
}

.botao_cv{
    border: #e86862 solid 2px;
    border-radius: 3rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color:#f70230;
    margin: 30px;
}

.descricao_direita{
    width: 40%;
    margin: 40px;
    padding-top: 4rem;
}

.habilidades{
    font-size: 20px;
}

ul{
    padding-left: 2rem;
    font-size: 1.2rem;
}

li{
    line-height: 2rem;
}

.redes-sociais{
    text-align: center;
    margin-top: 3rem;
}

.quadradinho{
    display: inline-block;
    background-color: #f70230;
    width: 14%;
    color: #0a0a0a;
    padding: 1rem;
    margin: 1rem;
}

img{
    height: 50px;
}

h5{
    margin-top: 1rem;
    padding: 1rem;
}

footer{
    color:#f70230;
    font-size: 20px;
    margin: 3rem;
    text-align: center;
}